// body {
// 	margin: 0;
// 	padding: 0;
// }

.container {
	height: 100vh;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-end;

	video {
		position: absolute;
		object-fit: contain;
		top: 50%;
		left: 50%;
		height: auto;
		width: auto;
		z-index: -1;
		transform: translateX(-50%) translateY(-50%);
		min-width: 100%;
		min-height: 100%;
	}

	.btn-container {
		background-color: black;
		text-align: center;
		margin-bottom: 80px;

		.enter-btn {
			margin: 0 auto;
			background-color: white;
			border: none;

			p {
				animation: flicker2 0.1s infinite alternate ease-in-out;
				text-align: center;
				color: black;
			}
		}
	}
}

@keyframes flicker2 {
	90% {
		opacity: 0.1;
		text-shadow: 0 0 0.05em var(--c1), 0 0 0.1em var(--c2),
			calc(var(--shift) * 1) calc(var(--shift) * 1)
				calc(var(--spread) / 50) var(--c1),
			calc(var(--shift) * -1) calc(var(--shift) * -1)
				calc(var(--spread) / 50) var(--c1),
			calc(var(--shift) * 1) calc(var(--shift) * -1)
				calc(var(--spread) / 50) var(--c1),
			calc(var(--shift) * -1) calc(var(--shift) * 1)
				calc(var(--spread) / 50) var(--c1),
			0 0 0 var(--base), 0 0 0 var(--base);
	}
}
